@import '/src/styles/default.scss';

.footer-placeholder {
	height: $size * 2.5;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $backgroundColor;
	box-shadow: 0 0 ($size * 2) $backgroundColor;
}

.footer a, .footer b {
	color: $color7;
	font-weight: bold;
}
