@import '/src/styles/default.scss';

.footer-placeholder {
	height: $bigSize + $smallSize;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: $smallSize;
	background-color: $backgroundColor;
	box-shadow: 0 0 $bigSize $backgroundColor;
}
