<div class="py-4"></div>

<div class="footer-placeholder"></div>
<div class="footer py-2">
	<div class="container">
		<div class="row">
			<div class="col align-center">
				<a [routerLink]="'contact'">Contact</a>
				<b class="mx-1">-</b>
				<a href="https://www.instagram.com" target="_blank">Instagram</a>
				<b class="mx-1">-</b>
				<a href="https://www.facebook.com" target="_blank">Facebook</a>
				<b class="mx-1">-</b>
				<a [routerLink]="'cgv'">CGV</a>
			</div>
		</div>
	</div>
</div>
