@import '/src/styles/default.scss';

.header .route {
	padding: $defaultSize 0;
	// color: ;
	text-align: center;
    text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.header .route:hover {
	// background-color: $hoverColor;
	// color: $textHoverColor;
}
.header .route:active {
	// background-color: $activeColor;
}
.header .route.active {
	// background-color: $hoverColor;
	// color: $textActiveColor
}
