@import '/src/styles/default.scss';

.container {
	background-color: $blockColor;
}

.container .col {
	padding: $paddingWidth 0;
	color: $blockTextColor;
	text-align: center;
    text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.container .col:hover {
	background-color: $hoverColor;
	color: $textHoverColor;
}
.container .col:active {
	background-color: $activeColor;
}
.container .col.active {
	background-color: $hoverColor;
	color: $textActiveColor
}
