@import '/src/styles/default.scss';

.header {
	background-color: $blockColor;
}

.header .route {
	padding: $defaultSize 0;
	color: $blockTextColor;
	text-align: center;
    text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
.header .route:hover {
	background-color: $hoverColor;
	color: $textHoverColor;
}
.header .route:active {
	background-color: $activeColor;
}
.header .route.active {
	background-color: $hoverColor;
	color: $textActiveColor
}
