$backgroundColor: #f7f6f7;
$mainColor1: #e4d8ee;
$mainColor2: #ddc1b3;
$extraColor: #776674;


// $hoverColor: #444;
// $activeColor: #888;

// $textColor: #333;
// $blockTextColor: #DDD;
// $textHoverColor: #2fb4e8;
// $textActiveColor: #e8822f;
