@import '/src/styles/colors.scss';
@import '/src/styles/icons.scss';

$size: 1rem;

.background-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}
.spaced {
	letter-spacing: calc($size / 4);
}
.underlined {
	border-bottom: calc($size / 4) solid $color1;
}
