@import '/src/styles/colors.scss';
@import '/src/styles/icons.scss';

$size: 1rem;

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.uppercase {
	text-transform: uppercase;
}
.spaced {
	letter-spacing: calc($size / 2);
}