<div class="container">
	<div class="align-center">
		<h4 *ngIf="loading" class="spaced uppercase pt-5">chargement de la gallerie</h4>
	</div>
	<div *ngIf="!loading" class="row">
		<div *ngFor="let media of gallerie" class="col-md-6 col-xl-4">
			<div class="card mb-3">
				<a
					class="background-image"
					[href]="media.permalink"
					[style.background-image]="'url(' + media.media_url + ')'"
					target="_blank"
					data-toggle="tooltip"
					data-placement="right"
					title="Voir sur Instagram"
				>
				</a>
				<div class="card-body px-3 py-2">
					<p class="card-text align-center">{{ media.caption }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
