<div class="container">
	<div class="row">
		<div class="parallax col">
			<div class="parallax-image" parallax [config]="{ initialValue: 150, ratio: 0.5 }"></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Porttitor rhoncus dolor
				purus non enim. Purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Non enim praesent
				elementum facilisis. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Massa vitae tortor condimentum
				lacinia quis vel. Platea dictumst vestibulum rhoncus est. Tincidunt tortor aliquam nulla facilisi cras
				fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Porttitor rhoncus dolor purus non.
				Et pharetra pharetra massa massa. Enim blandit volutpat maecenas volutpat blandit. Amet tellus cras adipiscing
				enim eu. Est ante in nibh mauris cursus mattis molestie a iaculis. Viverra nam libero justo laoreet sit amet
				cursus sit. Nulla pellentesque dignissim enim sit amet.
			</p>
			<p>
				Dui vivamus arcu felis bibendum ut. Netus et malesuada fames ac. Ut diam quam nulla porttitor massa id. Ante in
				nibh mauris cursus mattis molestie a iaculis at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Dui
				ut ornare lectus sit amet est placerat. Volutpat lacus laoreet non curabitur. Amet cursus sit amet dictum sit
				amet justo donec. Sodales ut eu sem integer. Mauris a diam maecenas sed enim ut. Justo donec enim diam vulputate
				ut.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Porttitor rhoncus dolor
				purus non enim. Purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Non enim praesent
				elementum facilisis. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Massa vitae tortor condimentum
				lacinia quis vel. Platea dictumst vestibulum rhoncus est. Tincidunt tortor aliquam nulla facilisi cras
				fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Porttitor rhoncus dolor purus non.
				Et pharetra pharetra massa massa. Enim blandit volutpat maecenas volutpat blandit. Amet tellus cras adipiscing
				enim eu. Est ante in nibh mauris cursus mattis molestie a iaculis. Viverra nam libero justo laoreet sit amet
				cursus sit. Nulla pellentesque dignissim enim sit amet.
			</p>
			<p>
				Dui vivamus arcu felis bibendum ut. Netus et malesuada fames ac. Ut diam quam nulla porttitor massa id. Ante in
				nibh mauris cursus mattis molestie a iaculis at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Dui
				ut ornare lectus sit amet est placerat. Volutpat lacus laoreet non curabitur. Amet cursus sit amet dictum sit
				amet justo donec. Sodales ut eu sem integer. Mauris a diam maecenas sed enim ut. Justo donec enim diam vulputate
				ut.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Porttitor rhoncus dolor
				purus non enim. Purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Non enim praesent
				elementum facilisis. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Massa vitae tortor condimentum
				lacinia quis vel. Platea dictumst vestibulum rhoncus est. Tincidunt tortor aliquam nulla facilisi cras
				fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Porttitor rhoncus dolor purus non.
				Et pharetra pharetra massa massa. Enim blandit volutpat maecenas volutpat blandit. Amet tellus cras adipiscing
				enim eu. Est ante in nibh mauris cursus mattis molestie a iaculis. Viverra nam libero justo laoreet sit amet
				cursus sit. Nulla pellentesque dignissim enim sit amet.
			</p>
			<p>
				Dui vivamus arcu felis bibendum ut. Netus et malesuada fames ac. Ut diam quam nulla porttitor massa id. Ante in
				nibh mauris cursus mattis molestie a iaculis at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Dui
				ut ornare lectus sit amet est placerat. Volutpat lacus laoreet non curabitur. Amet cursus sit amet dictum sit
				amet justo donec. Sodales ut eu sem integer. Mauris a diam maecenas sed enim ut. Justo donec enim diam vulputate
				ut.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Porttitor rhoncus dolor
				purus non enim. Purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Non enim praesent
				elementum facilisis. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Massa vitae tortor condimentum
				lacinia quis vel. Platea dictumst vestibulum rhoncus est. Tincidunt tortor aliquam nulla facilisi cras
				fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Porttitor rhoncus dolor purus non.
				Et pharetra pharetra massa massa. Enim blandit volutpat maecenas volutpat blandit. Amet tellus cras adipiscing
				enim eu. Est ante in nibh mauris cursus mattis molestie a iaculis. Viverra nam libero justo laoreet sit amet
				cursus sit. Nulla pellentesque dignissim enim sit amet.
			</p>
			<p>
				Dui vivamus arcu felis bibendum ut. Netus et malesuada fames ac. Ut diam quam nulla porttitor massa id. Ante in
				nibh mauris cursus mattis molestie a iaculis at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Dui
				ut ornare lectus sit amet est placerat. Volutpat lacus laoreet non curabitur. Amet cursus sit amet dictum sit
				amet justo donec. Sodales ut eu sem integer. Mauris a diam maecenas sed enim ut. Justo donec enim diam vulputate
				ut.
			</p>
		</div>
	</div>
</div>
