@import '/src/styles/default.scss';

.parallax {
	height: $size * 25;
	position: relative;
	overflow: hidden;
}

.parallax > .parallax-image {
	background-image: url('/assets/parallax.jpg');
}
