<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">Confirmation d'envoi</h5>
		<button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
        <div class="row">
            <div class="col-8">
                <p>Le mail de contact a bien été envoyé</p>
            </div>
            <div class="col-4 align-right">
                <button type="button" class="btn btn-outline-info" (click)="modalRef.hide()">Continuer</button>
            </div>
        </div>
	</div>
</div>
