<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="portrait background-image"></div>
		</div>
		<div class="col-md-6 align-center">
			<p class="pb-2">
				J’ai adopté deux chiennes en sauvetage dans un refuge en 2018. Avec un passé presque inconnu,
				mais une chose était évidente, elles devaient rester ensemble pour le reste de leur vie. Des chiennes
				discrètes en refuge et une fois arrivée à la maison, une s’est révélé extrêmement anxieuse et l’autre
				presque dépressive … Un chemin de vie difficile pour elles deux, et pour moi qui était perdu mais qui
				voulais le meilleures pour Poppy et Daisy.
			</p>
			<p class="pb-2">
				Je savais déjà à l’époque que je ne voulais que de l’éducation positive et douce pour elles, j’ai donc
				fait appel à une comportementaliste pour nous aider dans cette aventure, j’ai appris beaucoup de
				choses, j’ai beaucoup observé leur comportement mais j’ai aussi appris à respecté les limites de
				chacune. Je ne voulais pas de chien parfait, juste des chiens bien dans leurs pattes et dans leur tête.
			</p>
			<p>
				J’étais en pleine réflexions à ce moment là pour une réorientation de carrière et cela à confirmer
				mon choix de travailler avec les animaux, dans un domaine non médical. Je souhaitais travailler au
				près de chiens pour améliorer leurs vies et celle de leurs maîtres pour construire et fortifier le lien qui
				les unit.
			</p>
			<p>
				Après plusieurs années la graine ayant bien germée, je me suis lancée dans une formation au près du
				Centre du Bien Être Animal. Une formation longue et en présentielle qui permet de travailler en
				situation réelle, avec des chiens de tout horizons et avec des cas très différents les uns des autres.
			</p>
		</div>
	</div>
	<div class="align-center py-5">
		<h2 class="uppercase spaced"><span class="underlined">Certifications et Formations :</span>·</h2>
	</div>
	<div class="row">
		<div class="col">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Porttitor rhoncus dolor
				purus non enim. Purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Non enim praesent
				elementum facilisis. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Massa vitae tortor condimentum
				lacinia quis vel. Platea dictumst vestibulum rhoncus est. Tincidunt tortor aliquam nulla facilisi cras
				fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Porttitor rhoncus dolor purus non.
				Et pharetra pharetra massa massa. Enim blandit volutpat maecenas volutpat blandit. Amet tellus cras adipiscing
				enim eu. Est ante in nibh mauris cursus mattis molestie a iaculis. Viverra nam libero justo laoreet sit amet
				cursus sit. Nulla pellentesque dignissim enim sit amet.
			</p>
			<p>
				Dui vivamus arcu felis bibendum ut. Netus et malesuada fames ac. Ut diam quam nulla porttitor massa id. Ante in
				nibh mauris cursus mattis molestie a iaculis at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Dui
				ut ornare lectus sit amet est placerat. Volutpat lacus laoreet non curabitur. Amet cursus sit amet dictum sit
				amet justo donec. Sodales ut eu sem integer. Mauris a diam maecenas sed enim ut. Justo donec enim diam vulputate
				ut.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
				magna aliqua. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Porttitor rhoncus dolor
				purus non enim. Purus in massa tempor nec. Semper eget duis at tellus at urna condimentum. Non enim praesent
				elementum facilisis. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Massa vitae tortor condimentum
				lacinia quis vel. Platea dictumst vestibulum rhoncus est. Tincidunt tortor aliquam nulla facilisi cras
				fermentum. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Porttitor rhoncus dolor purus non.
				Et pharetra pharetra massa massa. Enim blandit volutpat maecenas volutpat blandit. Amet tellus cras adipiscing
				enim eu. Est ante in nibh mauris cursus mattis molestie a iaculis. Viverra nam libero justo laoreet sit amet
				cursus sit. Nulla pellentesque dignissim enim sit amet.
			</p>
			<p>
				Dui vivamus arcu felis bibendum ut. Netus et malesuada fames ac. Ut diam quam nulla porttitor massa id. Ante in
				nibh mauris cursus mattis molestie a iaculis at. Magna etiam tempor orci eu lobortis elementum nibh tellus. Dui
				ut ornare lectus sit amet est placerat. Volutpat lacus laoreet non curabitur. Amet cursus sit amet dictum sit
				amet justo donec. Sodales ut eu sem integer. Mauris a diam maecenas sed enim ut. Justo donec enim diam vulputate
				ut.
			</p>
		</div>
	</div>
</div>
